# Node dependencies
node_modules/

# Environment files
.env
.env.*

# Build artifacts
coverage/
build/
dist/

# OS/editor files
.DS_Store
.idea/
.vscode/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
