<%- include('../partials/header') %>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-warning shadow animate__animated animate__pulse animate__infinite">
      <div class="card-body text-center">
        <h2 class="text-warning">External Link Warning</h2>
        <p>You are leaving SR University Portal. Continue only if you trust this destination.</p>
        <a href="<%= target %>" class="btn btn-warning me-2">Proceed</a>
        <a href="/" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
